/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     font-size: calc(0.75rem + 1vmin);
     background-color:rgb(94, 100, 106);
}


/******************************************
/* LAYOUT
/*******************************************/
h1 {
     text-align: center;
     border: 1px solid blue;
     flex-basis: 100%;
}
.flex-container {
     border: 1px solid green;
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
}
.current-goals {
     display: flex;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
h1 {
     color:aquamarine;
}

.none {
     color:lightgray;
}
.began {
     color: brown;
}
.third {
     color: rgb(255, 140, 0)';
}
.half {
     color: yellow;
}
.seventy {
     color:aqua;
}
.eighty {
     color:aquamarine;
}