/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     background-color: #2C3333;
     color: #E7F6F2;
     align-items: flex-start;
}


/******************************************
/* LAYOUT
/*******************************************/
header {
     margin: 2% 10%;
     min-height: 10vh;
     background-color: #a1c69b;
     color: #18090d;
}
section {
     min-height: 85vh;
}
form {
     width: 100%;
     margin: 5%;
     align-self: flex-end;

}
footer {
     height: 2vh;
}
p {
     margin-top: 0;
}
ul {
     margin-bottom: 0;
}
h1 {
     text-align: center;
     flex-basis: 100%;
     margin: 0%;
     padding: 2%;
}
h2 {
     flex-basis: 100%;
     text-align: center;
}
h3 {
     flex-basis: 100%;
     text-align: center;
}
.flex-container {
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     align-items: flex-start;
}
button {
     margin: 0 12%;
     min-width: 50%;
     border-radius: 20% 20% 0% 0%;
     flex: 1 1 100%;
}
.current-goals {
     display: flex;
     list-style: none;
     flex-flow: row wrap;
     flex: 3 1 100%;
     width: 100%;
     min-height: 20vh;
     font-size: calc(0.75rem + 2vmin);
     justify-content: center;
     align-items: flex-start;
     color:azure;
     gap: 4vmin;
}

.item {
     margin: 0;
}
li {
     margin: 1rem;
}
li:hover {
     transform: scale(1.20);
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
header {
     border: 2px solid #E7F6F2;
     margin-bottom: 0%;
     border-radius: 15% 15% 0% 0%;
     border-bottom: none;
}
.card {
     background-color: #2C3333;
}
h1 {
     font-style: italic;
}
label {
     font-size: large;
}
.bg {
     background-color: #395B64;
     margin: 0 5%;
     border-radius: 0% 0% 10% 10%;
     border: 1px solid #E7F6F2;
}
.bg2 {
     background-color: #212121;
     margin: 0 5%;
     color:azure;
     border: 5vmin solid #585757;
     border-right: 1vmin solid #212121;
     border-left: 1vmin solid #212121;
}
.rule {
     font-style: normal;
}
.none {
     color: #E7F6F2;
}
.began {
     color: #ef5350;
}
.third {
     color: #ff9800;
}
.half {
     color: #ffd600;
}
.seventy {
     color:#00e676;
}
.eighty {
     color:#311b92;
}
.complete {
     text-decoration: line-through;
     color: tan;
}
