/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     background-color: #2C3333;
     color: #A5C9CA;
     font-size: calc(0.75rem + 1vmin);
}


/******************************************
/* LAYOUT
/*******************************************/
header {
     margin: 2% 10%;
}
h1 {
     text-align: center;
     flex-basis: 100%;
     margin: 0%;
     padding: 2%;
}
h2 {
     flex-basis: 100%;
     text-align: center;
}
h3 {
     flex-basis: 100%;
     text-align: center;
}
.flex-container {
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
}
.current-goals {
     display: flex;
     list-style: none;
     flex-flow: row wrap;
     width: 100%;
     min-height: 20vh;
     font-size: calc(1.25rem + 1vmin);
     justify-content: center;
     align-items: center;
     align-content: flex-start;
}
li {
     margin: 1rem;
}
li:hover {
     transform: scale(1.15);
     border-bottom: 1px solid #2C3333;
     border-top: 1px solid #2C3333;
     border-radius: 10%;
}
.item {
     font-size: calc(1.5rem + 2vmin);
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
header {
     border: 1px solid #E7F6F2;
     margin-bottom: 0%;
     border-radius: 10% 10% 0% 0%;
     border-bottom: none;
}
.card {
     background-color: #2C3333;
}
h1 {
     font-style: italic;
}
label {
     font-size: large;
}
.bg {
     background-color: #395B64;
     margin: 0 10%;
     border-radius: 0% 0% 10% 10%;
     border: 1px solid #E7F6F2;
     border-top: 0.5px dashed #212121;
}
.bg2 {
     background-color: #e8eaea;
     margin: 0 10%;
     color:black;
     border: 3px solid #212121;
     border-right: 1px solid black;
     border-left: 1px solid black;
     border-radius: 5%;
}
.rule {
     font-style: normal;
}
.none {
     color: #E7F6F2;
}
.began {
     color: #ef5350;
}
.third {
     color: #ff9800;
}
.half {
     color: #ffd600;
}
.seventy {
     color:#00e676;
}
.eighty {
     color:#311b92;
}
.complete {
     text-decoration: line-through;
     color:purple;
}
